In [222]:
import pandas as pd
import numpy as np


df = pd.read_excel(r"C:\Users\PCHOME\Desktop\data-wrangling-and-validation\data\lesson-spreadsheet\HDR_2007_2008_Table _29.xlsx")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 33 columns):
Unnamed: 0     206 non-null object
Unnamed: 1     198 non-null object
Unnamed: 2     21 non-null object
Unnamed: 3     199 non-null object
Unnamed: 4     0 non-null float64
Unnamed: 5     178 non-null object
Unnamed: 6     20 non-null float64
Unnamed: 7     200 non-null object
Unnamed: 8     9 non-null object
Unnamed: 9     179 non-null object
Unnamed: 10    26 non-null object
Unnamed: 11    199 non-null object
Unnamed: 12    8 non-null object
Unnamed: 13    191 non-null object
Unnamed: 14    13 non-null object
Unnamed: 15    0 non-null float64
Unnamed: 16    0 non-null float64
Unnamed: 17    0 non-null float64
Unnamed: 18    0 non-null float64
Unnamed: 19    0 non-null float64
Unnamed: 20    0 non-null float64
Unnamed: 21    0 non-null float64
Unnamed: 22    0 non-null float64
Unnamed: 23    0 non-null float64
Unnamed: 24    0 non-null float64
Unnamed: 25    0 non-null float64
Unnamed: 26    0 non-null float64
Unnamed: 27    0 non-null float64
Unnamed: 28    0 non-null float64
Unnamed: 29    0 non-null float64
Unnamed: 30    0 non-null float64
Unnamed: 31    0 non-null float64
Unnamed: 32    0 non-null float64
dtypes: float64(20), object(13)
memory usage: 58.1+ KB

In [223]:
df.head(14)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,â€¦ and achieving equality for all women and men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29 Gender empowerment measure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25 Gender empowerment measure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HDI rank,NaN,NaN,Gender empowerment measure \n(GEM),NaN,NaN,NaN,Seats in parliament \nheld by womena,NaN,"Female legislators,\nsenior officials \nand ma...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,Rank,NaN,Value,NaN,(% of total),NaN,(% of total),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df=pd.read_excel(r"C:\Users\PCHOME\Desktop\data-wrangling-and-validation\data\lesson-spreadsheet\HDR_2007_2008_Table _29.xlsx",header=12)

In [225]:
df

,HDI rank,Unnamed: 1,Unnamed: 2,Gender empowerment measure (GEM),Unnamed: 4,Unnamed: 5,Unnamed: 6,Seats in parliament held by womena,Unnamed: 8,"Female legislators, senior officials and managersb",...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,Rank,NaN,Value,NaN,(% of total),NaN,(% of total),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Iceland,NaN,5,NaN,0.862,NaN,31.7,NaN,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Norway,NaN,1,NaN,0.910,NaN,37.9,NaN,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Australia,NaN,8,NaN,0.847,NaN,28.3,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,Canada,NaN,10,NaN,0.820,NaN,24.3,NaN,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,Ireland,NaN,19,NaN,0.699,NaN,14.2,NaN,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,Sweden,NaN,2,NaN,0.906,NaN,47.3,NaN,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,Switzerland,NaN,27,NaN,0.660,NaN,24.8,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,Japan,NaN,54,NaN,0.557,NaN,11.1,NaN,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,Netherlands,NaN,6,NaN,0.859,NaN,36.0,NaN,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,France,NaN,18,NaN,0.718,NaN,13.9,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,Finland,NaN,3,NaN,0.887,NaN,42.0,NaN,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,United States,NaN,15,NaN,0.762,NaN,16.3,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13,Spain,NaN,12,NaN,0.794,NaN,30.5,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,14,Denmark,NaN,4,NaN,0.875,NaN,36.9,NaN,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,Austria,NaN,13,NaN,0.788,NaN,31.0,NaN,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,16,United Kingdom,NaN,14,NaN,0.783,NaN,19.3,NaN,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,17,Belgium,NaN,7,NaN,0.850,NaN,35.7,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,18,Luxembourg,NaN,..,NaN,..,NaN,23.3,NaN,..,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19,New Zealand,NaN,11,NaN,0.811,NaN,32.2,NaN,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20,Italy,NaN,21,NaN,0.693,NaN,16.1,NaN,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21,"Hong Kong, China (SAR)",NaN,..,NaN,..,NaN,..,NaN,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22,Germany,NaN,9,NaN,0.831,NaN,30.6,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23,Israel,NaN,28,NaN,0.660,NaN,14.2,NaN,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,24,Greece,NaN,37,NaN,0.622,NaN,13.0,NaN,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,25,Singapore,NaN,16,NaN,0.761,NaN,24.5,NaN,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,26,Korea (Republic of),NaN,64,NaN,0.510,NaN,13.4,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,27,Slovenia,NaN,41,NaN,0.611,NaN,10.8,NaN,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,28,Cyprus,NaN,48,NaN,0.580,NaN,14.3,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,"a. Data are as of 31 May 2007, unless otherwis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,SOURCES\nColumn 1: determined on the basis of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,GEM ranks for 93 countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,1,Norway,21.0,Italy,NaN,NaN,41.0,Slovenia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,2,Sweden,22.0,Portugal,NaN,NaN,42.0,Bulgaria,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,3,Finland,23.0,Trinidad and Tobago,NaN,NaN,43.0,Ecuador,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,4,Denmark,24.0,Costa Rica,NaN,NaN,44.0,Tanzania (United Republic of),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,5,Iceland,25.0,Lithuania,NaN,NaN,45.0,Philippines,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,6,Netherlands,26.0,Cuba,NaN,NaN,46.0,Mexico,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,7,Belgium,27.0,Switzerland,NaN,NaN,47.0,Honduras,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,8,Australia,28.0,Israel,NaN,NaN,48.0,Cyprus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,9,Germany,29.0,United Arab Emirates,NaN,NaN,49.0,Panama,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,10,Canada,30.0,Barbados,NaN,NaN,50.0,Hungary,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,11,New Zealand,31.0,Estonia,NaN,NaN,51.0,Mauritius,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,12,Spain,32.0,Peru,NaN,NaN,52.0,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,13,Austria,33.0,Slovakia,NaN,NaN,53.0,Dominican Republic,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,14,United Kingdom,34.0,Czech Republic,NaN,NaN,54.0,Japan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,15,United States,35.0,Macedonia (TFYR),NaN,NaN,55.0,Moldova,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,16,Singapore,36.0,Namibia,NaN,NaN,56.0,Venezuela (Bolivarian Republic of),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,17,Argentina,37.0,Greece,NaN,NaN,57.0,China,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,18,France,38.0,Latvia,NaN,NaN,58.0,El Salvador,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,19,Ireland,39.0,Poland,NaN,NaN,59.0,Uruguay,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,20,Bahamas,40.0,Croatia,NaN,NaN,60.0,Chile,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
df = df.dropna(how="all",axis=1)
df = df.dropna(how="all",axis=0)
df = df.reset_index(drop=True)
df.head(6)

,HDI rank,Unnamed: 1,Unnamed: 2,Gender empowerment measure (GEM),Unnamed: 5,Unnamed: 6,Seats in parliament held by womena,Unnamed: 8,"Female legislators, senior officials and managersb",Unnamed: 10,Female professional and technical workersb,Unnamed: 12,Ratio of estimated female to male earned incomec,Unnamed: 14
0,NaN,NaN,NaN,Rank,Value,NaN,(% of total),NaN,(% of total),NaN,(% of total),NaN,NaN,NaN
1,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Iceland,NaN,5,0.862,NaN,31.7,NaN,27,NaN,56,NaN,0.72,NaN
3,2,Norway,NaN,1,0.910,NaN,37.9,NaN,30,NaN,50,NaN,0.77,NaN
4,3,Australia,NaN,8,0.847,NaN,28.3,NaN,37,NaN,56,NaN,0.70,NaN
5,4,Canada,NaN,10,0.820,NaN,24.3,NaN,36,NaN,56,NaN,0.64,NaN

In [227]:

columns =[]
for c in df.columns:
    columns.append([str(v) for v in df[c][0:1] if pd.notnull(v)])

print(columns)

[[], [], [], ['Rank'], ['Value       '], [], ['(% of total)'], [], [' (% of total)'], [], ['(% of total)'], [], [], []]

In [228]:
columns = ['HDI_rank','country','reference_1',
       'GEM_rank', 'GEM_value',
       'reference_2', 'Seats_parlia_wom', 'reference_3',
       'Fem _le_snr_offi_mana', 'reference_4',
       'Fem_profes_techn_work', 'reference_5',
       'Ratio_esti_ fem_male_earn_ incom','reference_6']

df.columns = columns



df = df.drop(np.arange(1), axis=0).reset_index(drop=True)
df.head()

,HDI_rank,country,reference_1,GEM_rank,GEM_value,reference_2,Seats_parlia_wom,reference_3,Fem _le_snr_offi_mana,reference_4,Fem_profes_techn_work,reference_5,Ratio_esti_ fem_male_earn_ incom,reference_6
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,NaN,5,0.862,NaN,31.7,NaN,27,NaN,56,NaN,0.72,NaN
2,2,Norway,NaN,1,0.910,NaN,37.9,NaN,30,NaN,50,NaN,0.77,NaN
3,3,Australia,NaN,8,0.847,NaN,28.3,NaN,37,NaN,56,NaN,0.70,NaN
4,4,Canada,NaN,10,0.820,NaN,24.3,NaN,36,NaN,56,NaN,0.64,NaN

In [229]:
df.tail(90)

,HDI_rank,country,reference_1,GEM_rank,GEM_value,reference_2,Seats_parlia_wom,reference_3,Fem _le_snr_offi_mana,reference_4,Fem_profes_techn_work,reference_5,Ratio_esti_ fem_male_earn_ incom,reference_6
114,113,Uzbekistan,NaN,..,..,NaN,16.4,NaN,..,NaN,..,NaN,0.60,NaN
115,114,Mongolia,NaN,77,0.429,NaN,6.6,NaN,50,NaN,54,NaN,0.50,NaN
116,115,Honduras,NaN,47,0.589,NaN,23.4,NaN,41,d,52,d,0.46,NaN
117,116,Kyrgyzstan,NaN,89,0.302,NaN,0.0,NaN,25,NaN,57,NaN,0.58,NaN
118,117,Bolivia,NaN,67,0.500,NaN,14.6,NaN,36,NaN,40,NaN,0.57,NaN
119,118,Guatemala,NaN,..,..,NaN,8.2,NaN,..,NaN,..,NaN,0.32,NaN
120,119,Gabon,NaN,..,..,NaN,13.7,NaN,..,NaN,..,NaN,0.57,NaN
121,120,Vanuatu,NaN,..,..,NaN,3.8,NaN,..,NaN,..,NaN,0.68,NaN
122,121,South Africa,NaN,..,..,NaN,32.8,i,..,NaN,..,NaN,0.45,NaN
123,122,Tajikistan,NaN,..,..,NaN,19.6,NaN,..,NaN,..,NaN,0.57,NaN
124,123,Sao Tome and Principe,NaN,..,..,NaN,7.3,NaN,..,NaN,..,NaN,0.30,NaN
125,124,Botswana,NaN,61,0.518,NaN,11.1,NaN,33,NaN,51,NaN,0.31,NaN
126,125,Namibia,NaN,36,0.623,NaN,26.9,NaN,30,NaN,55,NaN,0.57,NaN
127,126,Morocco,NaN,88,0.325,NaN,6.4,NaN,12,NaN,35,NaN,0.25,NaN
128,127,Equatorial Guinea,NaN,..,..,NaN,18.0,NaN,..,NaN,..,NaN,0.43,NaN
129,128,India,NaN,..,..,NaN,9.0,NaN,..,NaN,..,NaN,0.31,NaN
130,129,Solomon Islands,NaN,..,..,NaN,0.0,NaN,..,NaN,..,NaN,0.50,NaN
131,130,Lao People's Democratic Republic,NaN,..,..,NaN,25.2,NaN,..,NaN,..,NaN,0.51,NaN
132,131,Cambodia,NaN,83,0.377,NaN,11.4,NaN,14,NaN,33,NaN,0.74,NaN
133,132,Myanmar,NaN,..,..,NaN,..,j,..,NaN,..,NaN,..,NaN
134,133,Bhutan,NaN,..,..,NaN,2.7,NaN,..,NaN,..,NaN,..,NaN
135,134,Comoros,NaN,..,..,NaN,3.0,NaN,..,NaN,..,NaN,0.51,NaN
136,135,Ghana,NaN,..,..,NaN,10.9,NaN,..,NaN,..,NaN,0.71,NaN
137,136,Pakistan,NaN,82,0.377,NaN,20.4,NaN,2,NaN,26,NaN,0.29,NaN
138,137,Mauritania,NaN,..,..,NaN,17.6,NaN,..,NaN,..,NaN,0.50,NaN
139,138,Lesotho,NaN,..,..,NaN,25.0,NaN,..,NaN,..,NaN,0.52,NaN
140,139,Congo,NaN,..,..,NaN,10.1,NaN,..,NaN,..,NaN,0.50,NaN
141,140,Bangladesh,NaN,81,0.379,NaN,15.1,k,23,NaN,12,NaN,0.46,NaN
142,141,Swaziland,NaN,..,..,NaN,16.8,NaN,..,NaN,..,NaN,0.29,NaN
143,142,Nepal,NaN,86,0.351,NaN,17.3,l,8,NaN,19,NaN,0.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,172,Mozambique,NaN,..,..,NaN,34.8,NaN,..,NaN,..,NaN,0.81,NaN
175,173,Mali,NaN,..,..,NaN,10.2,NaN,..,NaN,..,NaN,0.68,NaN
176,174,Niger,NaN,..,..,NaN,12.4,NaN,..,NaN,..,NaN,0.57,NaN
177,175,Guinea-Bissau,NaN,..,..,NaN,14.0,NaN,..,NaN,..,NaN,0.51,NaN
178,176,Burkina Faso,NaN,..,..,NaN,11.7,NaN,..,NaN,..,NaN,0.66,NaN
179,177,Sierra Leone,NaN,..,..,NaN,14.5,NaN,..,NaN,..,NaN,0.45,NaN
180,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,"a. Data are as of 31 May 2007, unless otherwis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,SOURCES\nColumn 1: determined on the basis of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,GEM ranks for 93 countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,1,Norway,21.0,Italy,NaN,41.0,Slovenia,NaN,NaN,61,Botswana,NaN,81,Bangladesh
185,2,Sweden,22.0,Portugal,NaN,42.0,Bulgaria,NaN,NaN,62,Belize,NaN,82,Pakistan
186,3,Finland,23.0,Trinidad and Tobago,NaN,43.0,Ecuador,NaN,NaN,63,Malta,NaN,83,Cambodia
187,4,Denmark,24.0,Costa Rica,NaN,44.0,Tanzania (United Republic of),NaN,NaN,64,Korea (Republic of),NaN,84,Qatar
188,5,Iceland,25.0,Lithuania,NaN,45.0,Philippines,NaN,NaN,65,Malaysia,NaN,85,Sri Lanka
189,6,Netherlands,26.0,Cuba,NaN,46.0,Mexico,NaN,NaN,66,Saint Lucia,NaN,86,Nepal
190,7,Belgium,27.0,Switzerland,NaN,47.0,Honduras,NaN,NaN,67,Bolivia,NaN,87,Iran (Islamic Republic of)
191,8,Australia,28.0,Israel,NaN,48.0,Cyprus,NaN,NaN,68,Romania,NaN,88,Morocco
192,9,Germany,29.0,United Arab Emirates,NaN,49.0,Panama,NaN,NaN,69,Colombia,NaN,89,Kyrgyzstan
193,10,Canada,30.0,Barbados,NaN,50.0,Hungary,NaN,NaN,70,Brazil,NaN,90,Turkey
194,11,New Zealand,31.0,Estonia,NaN,51.0,Mauritius,NaN,NaN,71,Russian Federation,NaN,91,Egypt
195,12,Spain,32.0,Peru,NaN,52.0,Viet Nam,NaN,NaN,72,Ethiopia,NaN,92,Saudi Arabia
196,13,Austria,33.0,Slovakia,NaN,53.0,Dominican Republic,NaN,NaN,73,Thailand,NaN,93,Yemen
197,14,United Kingdom,34.0,Czech Republic,NaN,54.0,Japan,NaN,NaN,74,Kazakhstan,NaN,NaN,NaN
198,15,United States,35.0,Macedonia (TFYR),NaN,55.0,Moldova,NaN,NaN,75,Ukraine,NaN,NaN,NaN
199,16,Singapore,36.0,Namibia,NaN,56.0,Venezuela (Bolivarian Republic of),NaN,NaN,76,Maldives,NaN,NaN,NaN
200,17,Argentina,37.0,Greece,NaN,57.0,China,NaN,NaN,77,Mongolia,NaN,NaN,NaN
201,18,France,38.0,Latvia,NaN,58.0,El Salvador,NaN,NaN,78,Paraguay,NaN,NaN,NaN
202,19,Ireland,39.0,Poland,NaN,59.0,Uruguay,NaN,NaN,79,Georgia,NaN,NaN,NaN
203,20,Bahamas,40.0,Croatia,NaN,60.0,Chile,NaN,NaN,80,Oman,NaN,NaN,NaN

In [230]:
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)
df.tail(30)

,HDI_rank,country,reference_1,GEM_rank,GEM_value,reference_2,Seats_parlia_wom,reference_3,Fem _le_snr_offi_mana,reference_4,Fem_profes_techn_work,reference_5,Ratio_esti_ fem_male_earn_ incom,reference_6
150,149,Djibouti,NaN,..,..,NaN,10.8,NaN,..,NaN,..,NaN,0.48,NaN
151,150,Timor-Leste,NaN,..,..,NaN,25.3,m,..,NaN,..,NaN,..,NaN
152,151,Zimbabwe,NaN,..,..,NaN,22.2,NaN,..,NaN,..,NaN,0.58,NaN
153,152,Togo,NaN,..,..,NaN,8.6,NaN,..,NaN,..,NaN,0.43,NaN
154,153,Yemen,NaN,93,0.129,NaN,0.7,NaN,4,NaN,15,NaN,0.30,NaN
155,154,Uganda,NaN,..,..,NaN,29.8,NaN,..,NaN,..,NaN,0.70,NaN
156,155,Gambia,NaN,..,..,NaN,9.4,NaN,..,NaN,..,NaN,0.53,NaN
157,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,156,Senegal,NaN,..,..,NaN,19.2,NaN,..,NaN,..,NaN,0.54,NaN
159,157,Eritrea,NaN,..,..,NaN,22.0,NaN,..,NaN,..,NaN,0.45,NaN
160,158,Nigeria,NaN,..,..,NaN,..,NaN,..,NaN,..,NaN,0.41,NaN
161,159,Tanzania (United Republic of),NaN,44,0.597,NaN,30.4,NaN,49,NaN,32,NaN,0.73,NaN
162,160,Guinea,NaN,..,..,NaN,19.3,NaN,..,NaN,..,NaN,0.69,NaN
163,161,Rwanda,NaN,..,..,NaN,45.3,NaN,..,NaN,..,NaN,0.74,NaN
164,162,Angola,NaN,..,..,NaN,15.0,NaN,..,NaN,..,NaN,0.62,NaN
165,163,Benin,NaN,..,..,NaN,8.4,NaN,..,NaN,..,NaN,0.47,NaN
166,164,Malawi,NaN,..,..,NaN,13.6,NaN,..,NaN,..,NaN,0.73,NaN
167,165,Zambia,NaN,..,..,NaN,14.6,NaN,..,NaN,..,NaN,0.55,NaN
168,166,CÃ´te d'Ivoire,NaN,..,..,NaN,8.5,NaN,..,NaN,..,NaN,0.32,NaN
169,167,Burundi,NaN,..,..,NaN,31.7,NaN,..,NaN,..,NaN,0.77,NaN
170,168,Congo (Democratic Republic of the),NaN,..,..,NaN,7.7,NaN,..,NaN,..,NaN,0.52,NaN
171,169,Ethiopia,NaN,72,0.477,NaN,21.4,NaN,20,NaN,30,NaN,0.60,NaN
172,170,Chad,NaN,..,..,NaN,6.5,NaN,..,NaN,..,NaN,0.65,NaN
173,171,Central African Republic,NaN,..,..,NaN,10.5,NaN,..,NaN,..,NaN,0.61,NaN
174,172,Mozambique,NaN,..,..,NaN,34.8,NaN,..,NaN,..,NaN,0.81,NaN
175,173,Mali,NaN,..,..,NaN,10.2,NaN,..,NaN,..,NaN,0.68,NaN
176,174,Niger,NaN,..,..,NaN,12.4,NaN,..,NaN,..,NaN,0.57,NaN
177,175,Guinea-Bissau,NaN,..,..,NaN,14.0,NaN,..,NaN,..,NaN,0.51,NaN
178,176,Burkina Faso,NaN,..,..,NaN,11.7,NaN,..,NaN,..,NaN,0.66,NaN
179,177,Sierra Leone,NaN,..,..,NaN,14.5,NaN,..,NaN,..,NaN,0.45,NaN

In [231]:

hdi_rank_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df = df.drop(df[df["HDI_rank"].isin(hdi_rank_categories)].index, axis=0).reset_index(drop=True)
df.loc[:, "HDI category"] = np.where(df["HDI_rank"] > 155,"LOW HUMAN DEVELOPMENT",np.where(df["HDI_rank"] > 70,"MEDIUM HUMAN DEVELOPMENT","HIGH HUMAN DEVELOPMENT"))
df.sort_values(by="HDI_rank", inplace=True)
df.head()

,HDI_rank,country,reference_1,GEM_rank,GEM_value,reference_2,Seats_parlia_wom,reference_3,Fem _le_snr_offi_mana,reference_4,Fem_profes_techn_work,reference_5,Ratio_esti_ fem_male_earn_ incom,reference_6,HDI category
0,1,Iceland,NaN,5,0.862,NaN,31.7,NaN,27,NaN,56,NaN,0.72,NaN,HIGH HUMAN DEVELOPMENT
1,2,Norway,NaN,1,0.910,NaN,37.9,NaN,30,NaN,50,NaN,0.77,NaN,HIGH HUMAN DEVELOPMENT
2,3,Australia,NaN,8,0.847,NaN,28.3,NaN,37,NaN,56,NaN,0.70,NaN,HIGH HUMAN DEVELOPMENT
3,4,Canada,NaN,10,0.820,NaN,24.3,NaN,36,NaN,56,NaN,0.64,NaN,HIGH HUMAN DEVELOPMENT
4,5,Ireland,NaN,19,0.699,NaN,14.2,NaN,31,NaN,52,NaN,0.53,NaN,HIGH HUMAN DEVELOPMENT

In [232]:
df.tail(5)

,HDI_rank,country,reference_1,GEM_rank,GEM_value,reference_2,Seats_parlia_wom,reference_3,Fem _le_snr_offi_mana,reference_4,Fem_profes_techn_work,reference_5,Ratio_esti_ fem_male_earn_ incom,reference_6,HDI category
172,173,Mali,NaN,..,..,NaN,10.2,NaN,..,NaN,..,NaN,0.68,NaN,LOW HUMAN DEVELOPMENT
173,174,Niger,NaN,..,..,NaN,12.4,NaN,..,NaN,..,NaN,0.57,NaN,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,NaN,..,..,NaN,14.0,NaN,..,NaN,..,NaN,0.51,NaN,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,NaN,..,..,NaN,11.7,NaN,..,NaN,..,NaN,0.66,NaN,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,NaN,..,..,NaN,14.5,NaN,..,NaN,..,NaN,0.45,NaN,LOW HUMAN DEVELOPMENT